{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1 class="display-4 font-italic">Change Password</h1>
<br>
<hr>
<form action="" method="post" name="changepw">
    {{ form.hidden_tag() }}
    <p>Old password: 
       {{ form.old(autocomplete="off") }}<br>
    </p>
    {% for error in form.old.errors %}
        [{{ error }}]
    {% endfor %} 
    <br>
    <p>New password: {{ form.new(autocomplete="off") }}</p>
    {% for error in form.new.errors %}
        [{{ error }}]
    {% endfor %} 
    <p><input type="submit" value="Change"></p>
</form>
{% endblock %}